In [1]:
%matplotlib inline
#imports
import numpy as np
import pandas as pd
from scipy.stats import zscore
from sklearn.preprocessing import Imputer
from sklearn.metrics import accuracy_score
import seaborn as sns
from imblearn.over_sampling import SMOTE
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import zscore
from sklearn.preprocessing import Imputer
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

In [2]:
data=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
data.head()

   Year  Month ProductCategory   Sales
0  2009      1   WomenClothing  1755.0
1  2009      1     MenClothing   524.0
2  2009      1   OtherClothing   936.0
3  2009      2   WomenClothing  1729.0
4  2009      2     MenClothing   496.0

In [3]:
#finding the median wrt month and category
month_cat_mean=data.groupby(['Month','ProductCategory']).Sales.transform('mean')
month_cat_mean.head()

0    2276.333333
1     530.666667
2    1016.000000
3    2635.833333
4     534.166667
Name: Sales, dtype: float64

In [4]:
#filling NA with Mean
data.Sales.fillna(month_cat_mean, inplace=True)
data.isnull().sum()

Year               0
Month              0
ProductCategory    0
Sales              0
dtype: int64

In [5]:
data.shape

(216, 4)

In [6]:
def getname(name):
    title_group = {'WomenClothing':0,'MenClothing':1,'OtherClothing':2}  
    return title_group[name]
data['ProductCategory']=data.ProductCategory.map(lambda x : getname(x))

In [7]:
data.head()

   Year  Month  ProductCategory   Sales
0  2009      1                0  1755.0
1  2009      1                1   524.0
2  2009      1                2   936.0
3  2009      2                0  1729.0
4  2009      2                1   496.0

In [8]:
data_f=data.iloc[:,1:3]
data_l=data.iloc[:,3]
data_l.head()

0    1755.0
1     524.0
2     936.0
3    1729.0
4     496.0
Name: Sales, dtype: float64

In [9]:
def getname(name):
    title_group = {'WomenClothing':0,'MenClothing':1,'OtherClothing':2}  
    return title_group[name]
test['ProductCategory']=test.ProductCategory.map(lambda x : getname(x))

In [10]:
test.head()

   Year  Month  ProductCategory  Sales(In ThousandDollars)
0  2015      1                0                        NaN
1  2015      1                1                        NaN
2  2015      1                2                        NaN
3  2015      2                0                        NaN
4  2015      2                1                        NaN

In [11]:
test_f=test.iloc[:,1:3]

In [12]:
test_f.head()

   Month  ProductCategory
0      1                0
1      1                1
2      1                2
3      2                0
4      2                1

In [13]:
data_z= data_f.apply(zscore)
data_z.head()

      Month  ProductCategory
0 -1.593255        -1.224745
1 -1.593255         0.000000
2 -1.593255         1.224745
3 -1.303572        -1.224745
4 -1.303572         0.000000

In [14]:
test_z= test_f.apply(zscore)

In [15]:
from sklearn.tree import DecisionTreeRegressor

DTClassifier= DecisionTreeRegressor (max_depth=4, min_samples_split =2)
DTClassifier.fit(data_z,data_l)
predicted_labels = DTClassifier.predict(test_z)
predicted_labels

array([2276.33333333,  532.41666667, 1051.27333333, 2635.83333333,
        532.41666667, 1051.27333333, 3517.56666667,  661.55      ,
       1051.27333333, 3517.56666667,  661.55      , 1051.27333333,
       3517.56666667,  661.55      , 1051.27333333, 3246.58333333,
        661.55      , 1051.27333333, 3246.58333333,  661.55      ,
       1051.27333333, 3246.58333333,  661.55      , 1051.27333333,
       3246.58333333,  661.55      , 1051.27333333, 3246.58333333,
        661.55      , 1051.27333333, 3246.58333333,  661.55      ,
       1177.66666667, 4646.33333333, 1039.        , 1558.83333333])

In [16]:
sub1 = pd.DataFrame(pd.read_csv("sample_submission.csv")['S.No.'])
sub1['Sales'] = predicted_labels
sub1.to_csv("sample_submission1.csv", index = False)
sub1.head()

   S.No.        Sales
0      1  2276.333333
1      2   532.416667
2      3  1051.273333
3      4  2635.833333
4      5   532.416667

### EDA

In [17]:
data.shape

(216, 4)

In [18]:
data.dtypes
#every features is in int type.

Year                 int64
Month                int64
ProductCategory      int64
Sales              float64
dtype: object

In [19]:
data.isnull().sum()

Year               0
Month              0
ProductCategory    0
Sales              0
dtype: int64

In [20]:
#finding the median wrt month and category
month_cat_mean=data.groupby(['Month','ProductCategory']).Sales.transform('mean')
month_cat_mean.head()

0    2276.333333
1     530.666667
2    1016.000000
3    2635.833333
4     534.166667
Name: Sales, dtype: float64

In [21]:
#filling NA with Mean
data.Sales.fillna(month_cat_mean, inplace=True)

# Weather

In [22]:
data1=pd.read_excel("weather.xlsx",sheet_name=0)
data2=pd.read_excel("weather.xlsx",sheet_name=1)
data3=pd.read_excel("weather.xlsx",sheet_name=2)
data4=pd.read_excel("weather.xlsx",sheet_name=3)
data5=pd.read_excel("weather.xlsx",sheet_name=4)
data6=pd.read_excel("weather.xlsx",sheet_name=5)
data7=pd.read_excel("weather.xlsx",sheet_name=6)
data8=pd.read_excel("weather.xlsx",sheet_name=7)

df1 = pd.concat((data1,data2),axis=0)
df2= pd.concat((df1,data3),axis=0)
df3=pd.concat((df2,data4),axis=0)
df4=pd.concat((df3,data5),axis=0)
wholedata=pd.concat((df4,data6),axis=0)
data6.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014.0,Jan,2.0,1.0,-2.0,-4.0,-7.0,-11.0,-15.0,59.0,...,1027,1025,16,16,16,23,9,37,0,NaN
2,2014.0,Jan,3.0,1.0,-3.0,-8.0,-5.0,-7.0,-10.0,84.0,...,1015,1005,16,12,1,34,20,45,8.38,"Fog , Snow"
3,2014.0,Jan,4.0,-8.0,-10.0,-13.0,-11.0,-17.0,-22.0,84.0,...,1018,1004,16,9,0,34,17,47,7.37,Snow
4,2014.0,Jan,5.0,-2.0,-7.0,-13.0,-9.0,-16.0,-21.0,66.0,...,1030,1026,16,16,16,14,8,32,0,NaN

In [23]:
wholedata

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009.0,Jan,1.0,-3,-6,-9,-16,-17,-19,54,...,1023,1015,16,16,16,37,18,60,0,NaN
1,2009.0,Jan,2.0,1,-2,-5,-3,-7,-17,78,...,1012,1007,16,13,2,27,10,48,T,Snow
2,2009.0,Jan,3.0,3,1,-2,-5,-9,-13,72,...,1015,1008,16,16,16,27,16,42,T,NaN
3,2009.0,Jan,4.0,6,1,-4,-10,-12,-13,55,...,1017,1015,16,16,16,32,12,40,0,NaN
4,2009.0,Jan,5.0,6,5,3,-1,-5,-16,62,...,1014,1013,16,16,16,23,11,34,T,NaN
5,2009.0,Jan,6.0,3,2,-1,-2,-11,-18,85,...,1015,1009,16,14,6,24,11,29,2.03,Rain
6,2009.0,Jan,7.0,3,2,-1,2,1,-2,96,...,994,986,16,8,3,40,17,52,30.23,Rain
7,2009.0,Jan,8.0,3,1,-2,0,-6,-9,82,...,997,989,16,16,16,34,18,50,0,NaN
8,2009.0,Jan,9.0,0,-2,-3,-10,-11,-12,58,...,1016,1006,16,16,16,29,16,47,0,NaN
9,2009.0,Jan,10.0,-1,-3,-5,-3,-7,-12,88,...,1022,1012,16,8,1,26,11,39,3.56,"Fog , Rain , Snow"
10,2009.0,Jan,11.0,-1,-2,-4,-2,-5,-9,92,...,1011,1007,16,13,5,29,11,35,4.83,Rain
11,2009.0,Jan,12.0,1,-3,-6,-9,-10,-11,77,...,1022,1015,16,16,16,23,10,32,0,NaN
12,2009.0,Jan,13.0,5,2,-2,-1,-4,-9,70,...,1015,1007,16,16,16,24,9,34,0,NaN
13,2009.0,Jan,14.0,2,-3,-9,-3,-16,-20,70,...,1017,1006,16,16,14,32,14,47,0,NaN
14,2009.0,Jan,15.0,-6,-7,-9,-10,-13,-18,84,...,1023,1019,16,9,0,26,12,35,1.27,Snow
15,2009.0,Jan,16.0,-9,-11,-13,-16,-20,-22,59,...,1032,1029,16,16,16,24,15,35,0,NaN
16,2009.0,Jan,17.0,-6,-10,-14,-13,-19,-22,60,...,1031,1025,16,16,16,26,9,40,0,NaN
17,2009.0,Jan,18.0,2,-2,-6,-1,-4,-12,100,...,1013,1006,16,7,1,19,9,27,4.57,"Fog , Snow"
18,2009.0,Jan,19.0,1,-1,-3,-2,-3,-6,92,...,1005,1003,16,7,1,14,4,21,4.57,"Fog , Snow"
19,2009.0,Jan,20.0,-2,-4,-7,-7,-11,-13,81,...,1005,1003,16,16,14,24,10,35,0,NaN
20,2009.0,Jan,21.0,-3,-6,-8,-13,-14,-17,67,...,1012,1009,16,16,16,26,13,32,0,NaN
21,2009.0,Jan,22.0,3,-2,-7,-7,-10,-13,62,...,1015,1014,16,16,16,24,11,37,0,NaN
22,2009.0,Jan,23.0,8,4,-1,-1,-5,-9,66,...,1013,1006,16,16,11,26,8,40,0,NaN
23,2009.0,Jan,24.0,8,0,-8,-1,-12,-20,58,...,1017,1006,16,16,16,35,18,56,0,NaN
24,2009.0,Jan,25.0,-3,-7,-11,-13,-17,-19,55,...,1027,1025,16,16,16,23,10,32,0,NaN
25,2009.0,Jan,26.0,-2,-4,-7,-13,-15,-17,57,...,1029,1028,16,16,16,16,8,23,0,NaN
26,2009.0,Jan,27.0,-2,-3,-4,-11,-14,-17,55,...,1031,1029,16,16,16,21,7,26,0,NaN
27,2009.0,Jan,28.0,5,1,-4,4,-1,-11,100,...,1012,999,16,5,1,34,15,52,24.64,"Fog , Rain , Snow"
28,2009.0,Jan,29.0,2,-1,-3,-7,-9,-11,59,...,1013,1008,16,16,16,34,14,52,0,NaN
29,2009.0,Jan,30.0,2,-1,-3,-4,-7,-11,69,...,1012,1010,16,14,8,26,11,40,T,Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,2014.0,Dec,3.0,6,4,2,4,-1,-8,89,...,1033,1026,16,13,3,27,15,42,2.03,Rain
337,2014.0,Dec,4.0,8,7,5,6,3,-4,92,...,1020,1015,16,10,3,26,12,42,1.52,Rain
338,2014.0,Dec,5.0,7,5,3,-4,-6,-8,59,...,1029,1023,16,16,16,21,9,31,0,NaN
339,2014.0,Dec,6.0,7,4,1,5,1,-7,89,...,1032,1027,16,10,2,27,10,34,12.95,Rain
340,2014.0,Dec,7.0,10,7,4,8,6,2,96,...,1023,1019,13,5,2,27,7,48,30.99,Rain
341,2014.0,Dec,8.0,6,2,-1,2,-8,-18,92,...,1031,1023,16,16,16,40,19,64,1.02,Rain
342,2014.0,Dec,9.0,3,-1,-4,-1,-8,-18,75,...,1035,1028,16,16,16,32,19,47,0,NaN
343,2014.0,Dec,10.0,6,4,2,3,2,-1,92,...,1012,1005,16,8,1,35,17,52,64.52,Rain
344,2014.0,Dec,11.0,4,2,0,2,-1,-5,89,...,1003,1002,16,9,1,26,13,39,2.03,"Rain , Snow"
345,2014.0,Dec,12.0,3,2,-1,-3,-5,-7,75,...,1007,1003,16,14,3,27,12,40,0.25,Snow
346,2014.0,Dec,13.0,3,2,0,-5,-6,-7,61,...,1014,1012,16,16,16,24,13,40,0,NaN
347,2014.0,Dec,14.0,7,4,1,-2,-4,-6,64,...,1014,1012,16,16,16,26,14,45,0,NaN
348,2014.0,Dec,15.0,8,6,3,-2,-2,-2,70,...,1012,1011,16,16,16,21,10,32,0,NaN
349,2014.0,Dec,16.0,9,6,3,1,-2,-2,70,...,1017,1015,16,16,16,13,4,19,0,NaN
350,2014.0,Dec,17.0,9,7,3,6,4,0,86,...,1015,1010,16,9,2,19,6,23,5.08,Rain
351,2014.0,Dec,18.0,12,9,6,6,4,-3,92,...,1010,1009,16,11,2,26,9,42,0.51,Rain
352,2014.0,Dec,19.0,6,4,3,-4,-5,-6,59,...,1014,1012,16,16,16,26,14,45,0,NaN
353,2014.0,Dec,20.0,3,2,-1,-4,-6,-7,63,...,1018,1014,16,16,16,23,12,39,0,NaN
354,2014.0,Dec,21.0,1,0,-1,-6,-7,-8,63,...,1025,1022,16,16,16,19,8,24,0,NaN
355,2014.0,Dec,22.0,2,1,-1,-2,-4,-6,82,...,1026,1025,16,15,10,14,8,21,T,Snow
356,2014.0,Dec,23.0,7,4,2,6,2,-2,89,...,1025,1021,16,13,8,19,10,26,1.02,Rain
357,2014.0,Dec,24.0,8,7,6,7,6,5,96,...,1020,1018,14,5,2,27,13,42,4.06,Rain
358,2014.0,Dec,25.0,14,11,7,14,8,6,100,...,1009,1000,11,4,1,19,9,27,20.32,Rain
359,2014.0,Dec,26.0,17,12,7,16,4,-3,100,...,1007,998,16,13,4,32,15,52,2.29,Rain
360,2014.0,Dec,27.0,10,7,4,-2,-2,-3,64,...,1023,1020,16,16,16,21,9,29,0,NaN
361,2014.0,Dec,28.0,13,10,7,2,-1,-2,53,...,1022,1018,16,16,16,23,7,40,0,NaN
362,2014.0,Dec,29.0,12,9,6,6,3,-3,92,...,1014,1012,16,14,3,24,9,35,2.54,Rain
363,2014.0,Dec,30.0,7,4,1,-4,-7,-9,53,...,1022,1019,16,16,16,24,8,40,0,NaN
364,2014.0,Dec,31.0,1,-1,-2,-8,-11,-13,58,...,1028,1025,16,16,16,16,7,27,0,NaN
365,NaN,NaN,NaN,0,-1,-3,-11,-13,-15,55,...,1025,1022,16,16,16,23,9,34,0,NaN

In [24]:
wholedata.shape

(2192, 23)

In [25]:
wholedata.dtypes

Year                           float64
Month                           object
Day                            float64
Temp high (°C)                  object
Temp avg (°C)                   object
Temp low (°C)                   object
Dew Point high (°C)             object
Dew Point avg (°C)              object
Dew Point low (°C)              object
Humidity (%) high               object
Humidity (%) avg                object
Humidity (%) low                object
Sea Level Press. (hPa) high     object
Sea Level Press. (hPa) avg      object
Sea Level Press. (hPa) low      object
Visibility (km) high            object
Visibility (km) avg             object
Visibility (km) low             object
Wind (km/h) low                 object
Wind (km/h) avg                 object
Wind (km/h) high                object
Precip. (mm) sum                object
WeatherEvent                    object
dtype: object

In [26]:
wholedata.isnull().sum()

Year                              2
Month                             2
Day                               2
Temp high (°C)                    1
Temp avg (°C)                     1
Temp low (°C)                     1
Dew Point high (°C)               1
Dew Point avg (°C)                1
Dew Point low (°C)                1
Humidity (%) high                 1
Humidity (%) avg                  1
Humidity (%) low                  1
Sea Level Press. (hPa) high       1
Sea Level Press. (hPa) avg        1
Sea Level Press. (hPa) low        1
Visibility (km) high              1
Visibility (km) avg               1
Visibility (km) low               1
Wind (km/h) low                   1
Wind (km/h) avg                   1
Wind (km/h) high                  1
Precip. (mm) sum                  1
WeatherEvent                   1413
dtype: int64

In [27]:
normal = "Normal Day"

In [28]:
#filling NA with Mean
wholedata.WeatherEvent.fillna(normal, inplace=True)

In [29]:
wholedata1=wholedata.dropna()
wholedata1.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009.0,Jan,1.0,-3,-6,-9,-16,-17,-19,54,...,1023,1015,16,16,16,37,18,60,0,Normal Day
1,2009.0,Jan,2.0,1,-2,-5,-3,-7,-17,78,...,1012,1007,16,13,2,27,10,48,T,Snow
2,2009.0,Jan,3.0,3,1,-2,-5,-9,-13,72,...,1015,1008,16,16,16,27,16,42,T,Normal Day
3,2009.0,Jan,4.0,6,1,-4,-10,-12,-13,55,...,1017,1015,16,16,16,32,12,40,0,Normal Day
4,2009.0,Jan,5.0,6,5,3,-1,-5,-16,62,...,1014,1013,16,16,16,23,11,34,T,Normal Day

In [30]:
def getname(name):
    title_group = {'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}  
    return title_group[name]
wholedata1['Month']=wholedata1.Month.map(lambda x : getname(x))

C:\Users\Krishna Murthy\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [31]:
wholedata1.dtypes

Year                           float64
Month                            int64
Day                            float64
Temp high (°C)                  object
Temp avg (°C)                   object
Temp low (°C)                   object
Dew Point high (°C)             object
Dew Point avg (°C)              object
Dew Point low (°C)              object
Humidity (%) high               object
Humidity (%) avg                object
Humidity (%) low                object
Sea Level Press. (hPa) high     object
Sea Level Press. (hPa) avg      object
Sea Level Press. (hPa) low      object
Visibility (km) high            object
Visibility (km) avg             object
Visibility (km) low             object
Wind (km/h) low                 object
Wind (km/h) avg                 object
Wind (km/h) high                object
Precip. (mm) sum                object
WeatherEvent                    object
dtype: object

In [32]:
wholedata1.iloc[:,3].unique()

array([-3, 1, 3, 6, 0, -1, 5, 2, -6, -9, -2, 8, 11, 12, 10, 14, 7, 18, 4,
       16, 13, 21, 9, 17, 15, 22, 26, 31, 33, 29, 32, 20, 23, 24, 19, 28,
       30, 27, 25, -5, -7, 34, 36, 37, 39, 38, 35, -4, 40, '-', -8.0],
      dtype=object)

In [33]:
wholedata2=wholedata1[wholedata1.iloc[:,4] == "avg"]

In [34]:
wholedata2

Empty DataFrame
Columns: [Year, Month, Day, Temp high (°C), Temp avg (°C), Temp low (°C), Dew Point high (°C), Dew Point avg (°C), Dew Point low (°C), Humidity (%) high, Humidity (%) avg, Humidity (%) low, Sea Level Press. (hPa) high, Sea Level Press. (hPa) avg, Sea Level Press. (hPa) low, Visibility (km) high, Visibility (km) avg, Visibility (km) low, Wind (km/h) low, Wind (km/h) avg, Wind (km/h) high, Precip. (mm) sum, WeatherEvent]
Index: []

[0 rows x 23 columns]

In [35]:
wholedata1.iloc[:,3]=pd.to_numeric(wholedata1.iloc[:,3], errors='coerce')

C:\Users\Krishna Murthy\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [36]:
wholedata1.iloc[:,3].unique()

array([-3.,  1.,  3.,  6.,  0., -1.,  5.,  2., -6., -9., -2.,  8., 11.,
       12., 10., 14.,  7., 18.,  4., 16., 13., 21.,  9., 17., 15., 22.,
       26., 31., 33., 29., 32., 20., 23., 24., 19., 28., 30., 27., 25.,
       -5., -7., 34., 36., 37., 39., 38., 35., -4., 40., nan, -8.])

In [37]:
wholedata1.dtypes

Year                           float64
Month                            int64
Day                            float64
Temp high (°C)                 float64
Temp avg (°C)                   object
Temp low (°C)                   object
Dew Point high (°C)             object
Dew Point avg (°C)              object
Dew Point low (°C)              object
Humidity (%) high               object
Humidity (%) avg                object
Humidity (%) low                object
Sea Level Press. (hPa) high     object
Sea Level Press. (hPa) avg      object
Sea Level Press. (hPa) low      object
Visibility (km) high            object
Visibility (km) avg             object
Visibility (km) low             object
Wind (km/h) low                 object
Wind (km/h) avg                 object
Wind (km/h) high                object
Precip. (mm) sum                object
WeatherEvent                    object
dtype: object

In [38]:
wholedata1.iloc[:,4]=pd.to_numeric(wholedata1.iloc[:,4], errors='coerce')

C:\Users\Krishna Murthy\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [39]:
wholedata1.WeatherEvent.unique()

array(['Normal Day', 'Snow', 'Rain', 'Fog , Rain , Snow', 'Fog , Snow',
       'Rain , Snow', 'Fog', 'Fog , Rain', 'Thunderstorm'], dtype=object)

In [40]:
def getname(name):
    title_group = {'Normal Day':1,'Snow':2,'Rain':3,'Fog , Rain , Snow':4,'Fog , Snow':5,'Rain , Snow':6,'Fog':7,'Fog , Rain':8,'Thunderstorm':9}  
    return title_group[name]
wholedata1['WeatherEvent']=wholedata1.WeatherEvent.map(lambda x : getname(x))

C:\Users\Krishna Murthy\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [41]:
for i in list (range (23)):
    wholedata1.iloc[:,i]=pd.to_numeric(wholedata1.iloc[:,i], errors='coerce')

C:\Users\Krishna Murthy\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [42]:
wholedata1.dtypes

Year                           float64
Month                            int64
Day                            float64
Temp high (°C)                 float64
Temp avg (°C)                  float64
Temp low (°C)                  float64
Dew Point high (°C)            float64
Dew Point avg (°C)             float64
Dew Point low (°C)             float64
Humidity (%) high              float64
Humidity (%) avg               float64
Humidity (%) low               float64
Sea Level Press. (hPa) high    float64
Sea Level Press. (hPa) avg     float64
Sea Level Press. (hPa) low     float64
Visibility (km) high           float64
Visibility (km) avg            float64
Visibility (km) low            float64
Wind (km/h) low                float64
Wind (km/h) avg                float64
Wind (km/h) high               float64
Precip. (mm) sum               float64
WeatherEvent                     int64
dtype: object

In [43]:
wholedata1.isnull().sum()

Year                             0
Month                            0
Day                              0
Temp high (°C)                   2
Temp avg (°C)                    2
Temp low (°C)                    2
Dew Point high (°C)              2
Dew Point avg (°C)               2
Dew Point low (°C)               2
Humidity (%) high                2
Humidity (%) avg                 2
Humidity (%) low                 2
Sea Level Press. (hPa) high     12
Sea Level Press. (hPa) avg      12
Sea Level Press. (hPa) low      12
Visibility (km) high            10
Visibility (km) avg             10
Visibility (km) low             10
Wind (km/h) low                 13
Wind (km/h) avg                 13
Wind (km/h) high                44
Precip. (mm) sum               153
WeatherEvent                     0
dtype: int64

In [44]:
wholedata1=wholedata1.dropna()

In [45]:
wholedata1.isnull().sum()

Year                           0
Month                          0
Day                            0
Temp high (°C)                 0
Temp avg (°C)                  0
Temp low (°C)                  0
Dew Point high (°C)            0
Dew Point avg (°C)             0
Dew Point low (°C)             0
Humidity (%) high              0
Humidity (%) avg               0
Humidity (%) low               0
Sea Level Press. (hPa) high    0
Sea Level Press. (hPa) avg     0
Sea Level Press. (hPa) low     0
Visibility (km) high           0
Visibility (km) avg            0
Visibility (km) low            0
Wind (km/h) low                0
Wind (km/h) avg                0
Wind (km/h) high               0
Precip. (mm) sum               0
WeatherEvent                   0
dtype: int64

In [46]:
wholedata1.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009.0,1,1.0,-3.0,-6.0,-9.0,-16.0,-17.0,-19.0,54.0,...,1023.0,1015.0,16.0,16.0,16.0,37.0,18.0,60.0,0.00,1
3,2009.0,1,4.0,6.0,1.0,-4.0,-10.0,-12.0,-13.0,55.0,...,1017.0,1015.0,16.0,16.0,16.0,32.0,12.0,40.0,0.00,1
5,2009.0,1,6.0,3.0,2.0,-1.0,-2.0,-11.0,-18.0,85.0,...,1015.0,1009.0,16.0,14.0,6.0,24.0,11.0,29.0,2.03,3
6,2009.0,1,7.0,3.0,2.0,-1.0,2.0,1.0,-2.0,96.0,...,994.0,986.0,16.0,8.0,3.0,40.0,17.0,52.0,30.23,3
7,2009.0,1,8.0,3.0,1.0,-2.0,0.0,-6.0,-9.0,82.0,...,997.0,989.0,16.0,16.0,16.0,34.0,18.0,50.0,0.00,1

In [47]:
#finding the median wrt month and category
month_median=wholedata1.groupby(['Year','Month']).transform('mean')
month_median

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
3,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
5,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
6,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
7,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
8,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
9,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
10,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
11,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
12,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
13,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
14,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
15,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
16,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
17,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
18,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
19,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
20,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
21,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
22,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
23,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
24,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
25,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
26,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
27,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
28,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
30,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,1016.370370,1010.666667,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778
31,15.230769,6.500000,2.384615,-1.923077,-2.846154,-6.730769,-10.884615,69.461538,54.076923,38.384615,...,1017.230769,1012.500000,16.000000,15.115385,13.153846,27.769231,12.269231,41.461538,0.840385,1.653846
33,15.230769,6.500000,2.384615,-1.923077,-2.846154,-6.730769,-10.884615,69.461538,54.076923,38.384615,...,1017.230769,1012.500000,16.000000,15.115385,13.153846,27.769231,12.269231,41.461538,0.840385,1.653846
34,15.230769,6.500000,2.384615,-1.923077,-2.846154,-6.730769,-10.884615,69.461538,54.076923,38.384615,...,1017.230769,1012.500000,16.000000,15.115385,13.153846,27.769231,12.269231,41.461538,0.840385,1.653846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
335,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
336,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
337,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
338,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
339,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
340,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
341,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
342,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
343,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
344,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
345,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
346,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
347,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
348,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
349,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
350,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
351,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
352,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
353,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
354,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
356,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
357,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
358,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
359,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
360,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
361,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
362,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
363,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333
364,15.800000,7.933333,5.366667,2.633333,1.966667,-1.133333,-4.733333,77.300000,64.433333,51.166667,...,1019.200000,1015.166667,15.666667,13.133333,9.600000,24.466667,10.933333,38.000000,5.114000,2.133333

In [48]:
abc=wholedata1.iloc[:,1]
cvf=wholedata1.iloc[:,0]
month_median = month_median.assign(Month=abc.values)
month_median = month_median.assign(Year=cvf.values)
month_median.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent,Month,Year
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.0,57.740741,42.888889,...,16.0,13.888889,11.592593,27.185185,12.0,39.074074,2.803704,1.777778,1,2009.0
3,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.0,57.740741,42.888889,...,16.0,13.888889,11.592593,27.185185,12.0,39.074074,2.803704,1.777778,1,2009.0
5,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.0,57.740741,42.888889,...,16.0,13.888889,11.592593,27.185185,12.0,39.074074,2.803704,1.777778,1,2009.0
6,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.0,57.740741,42.888889,...,16.0,13.888889,11.592593,27.185185,12.0,39.074074,2.803704,1.777778,1,2009.0
7,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.0,57.740741,42.888889,...,16.0,13.888889,11.592593,27.185185,12.0,39.074074,2.803704,1.777778,1,2009.0

In [49]:
c2014=month_median.drop_duplicates(subset=None, keep='first', inplace=False)

In [50]:
df=c2014.append(c2014)
df1=df.append(c2014)
df1.shape
df1.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent,Month,Year
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,16.000000,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778,1,2009.0
31,15.230769,6.500000,2.384615,-1.923077,-2.846154,-6.730769,-10.884615,69.461538,54.076923,38.384615,...,16.000000,15.115385,13.153846,27.769231,12.269231,41.461538,0.840385,1.653846,2,2009.0
59,16.266667,9.566667,5.700000,1.533333,-0.033333,-3.233333,-7.100000,74.166667,57.000000,39.333333,...,16.000000,14.200000,10.566667,26.933333,11.366667,38.666667,1.481667,1.866667,3,2009.0
90,15.481481,17.333333,12.962963,8.037037,6.333333,2.740741,-0.851852,76.185185,56.148148,35.962963,...,15.888889,13.888889,10.592593,27.370370,11.518519,39.259259,4.411852,1.925926,4,2009.0
120,14.444444,20.777778,16.518519,12.148148,12.925926,10.148148,6.703704,87.518519,70.370370,52.777778,...,15.888889,12.000000,8.444444,22.148148,7.518519,32.185185,4.862963,2.703704,5,2009.0

In [51]:
final=df1.sort_values(['Year','Month'], ascending=True)

In [52]:
final.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent,Month,Year
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,16.0,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778,1,2009.0
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,16.0,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778,1,2009.0
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,16.0,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778,1,2009.0
31,15.230769,6.500000,2.384615,-1.923077,-2.846154,-6.730769,-10.884615,69.461538,54.076923,38.384615,...,16.0,15.115385,13.153846,27.769231,12.269231,41.461538,0.840385,1.653846,2,2009.0
31,15.230769,6.500000,2.384615,-1.923077,-2.846154,-6.730769,-10.884615,69.461538,54.076923,38.384615,...,16.0,15.115385,13.153846,27.769231,12.269231,41.461538,0.840385,1.653846,2,2009.0

In [53]:
catog=data.iloc[:,2]

In [54]:
final = final.assign(ProductCategory=catog.values)

In [55]:
final.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent,Month,Year,ProductCategory
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778,1,2009.0,0
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778,1,2009.0,1
0,16.888889,0.407407,-2.518519,-5.851852,-6.518519,-10.333333,-13.962963,72.000000,57.740741,42.888889,...,13.888889,11.592593,27.185185,12.000000,39.074074,2.803704,1.777778,1,2009.0,2
31,15.230769,6.500000,2.384615,-1.923077,-2.846154,-6.730769,-10.884615,69.461538,54.076923,38.384615,...,15.115385,13.153846,27.769231,12.269231,41.461538,0.840385,1.653846,2,2009.0,0
31,15.230769,6.500000,2.384615,-1.923077,-2.846154,-6.730769,-10.884615,69.461538,54.076923,38.384615,...,15.115385,13.153846,27.769231,12.269231,41.461538,0.840385,1.653846,2,2009.0,1

In [56]:
final_z= final.apply(zscore)

In [57]:
final_z.isnull().sum()

Day                            0
Temp high (°C)                 0
Temp avg (°C)                  0
Temp low (°C)                  0
Dew Point high (°C)            0
Dew Point avg (°C)             0
Dew Point low (°C)             0
Humidity (%) high              0
Humidity (%) avg               0
Humidity (%) low               0
Sea Level Press. (hPa) high    0
Sea Level Press. (hPa) avg     0
Sea Level Press. (hPa) low     0
Visibility (km) high           0
Visibility (km) avg            0
Visibility (km) low            0
Wind (km/h) low                0
Wind (km/h) avg                0
Wind (km/h) high               0
Precip. (mm) sum               0
WeatherEvent                   0
Month                          0
Year                           0
ProductCategory                0
dtype: int64

In [58]:
final_z.shape

(216, 24)

In [59]:

final_z=final_z.drop(final_z.columns[22],axis=1)
final_z=final_z.drop(final_z.columns[13],axis=1)
final_z.head()
final_z.shape

(216, 22)

In [60]:
#final_z=final_z.drop(final_z.columns[0],axis=1)
final_z.shape

(216, 22)

In [61]:
from sklearn.tree import DecisionTreeRegressor

DTClassifier= DecisionTreeRegressor (max_depth=4, min_samples_split =2)
DTClassifier.fit(final_z,data_l)

DecisionTreeRegressor(criterion='mse', max_depth=4, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

# TEST

In [62]:
data7.shape

(365, 23)

In [63]:
data7.isnull().sum()

Year                             0
Month                            0
Day                              0
Temp high (°C)                   0
Temp avg (°C)                    0
Temp low (°C)                    0
Dew Point high (°C)              0
Dew Point avg (°C)               0
Dew Point low (°C)               0
Humidity (%) high                0
Humidity (%) avg                 0
Humidity (%) low                 0
Sea Level Press. (hPa) high      0
Sea Level Press. (hPa) avg       0
Sea Level Press. (hPa) low       0
Visibility (km) high             0
Visibility (km) avg              0
Visibility (km) low              0
Wind (km/h) low                  0
Wind (km/h) avg                  0
Wind (km/h) high                 0
Precip. (mm) sum                 0
WeatherEvent                   250
dtype: int64

In [64]:
#filling NA with Mean
data7.WeatherEvent.fillna('Normal Day', inplace=True)

In [65]:
data7.dtypes

Year                            int64
Month                          object
Day                             int64
Temp high (°C)                  int64
Temp avg (°C)                   int64
Temp low (°C)                   int64
Dew Point high (°C)             int64
Dew Point avg (°C)              int64
Dew Point low (°C)              int64
Humidity (%) high               int64
Humidity (%) avg                int64
Humidity (%) low                int64
Sea Level Press. (hPa) high    object
Sea Level Press. (hPa) avg     object
Sea Level Press. (hPa) low     object
Visibility (km) high           object
Visibility (km) avg            object
Visibility (km) low            object
Wind (km/h) low                object
Wind (km/h) avg                object
Wind (km/h) high               object
Precip. (mm) sum               object
WeatherEvent                   object
dtype: object

In [66]:
def getname(name):
    title_group = {'Normal Day':1,'Snow':2,'Rain':3,'Fog , Rain , Snow':4,'Fog , Snow':5,'Rain , Snow':6,'Fog':7,'Fog , Rain':8,'Thunderstorm':9}  
    return title_group[name]
data7['WeatherEvent']=data7.WeatherEvent.map(lambda x : getname(x))

In [67]:
def getname(name):
    title_group = {'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}  
    return title_group[name]
data7['Month']=data7.Month.map(lambda x : getname(x))

In [68]:
for i in list (range (23)):
    data7.iloc[:,i]=pd.to_numeric(data7.iloc[:,i], errors='coerce')

In [69]:
data7.isnull().sum()

Year                            0
Month                           0
Day                             0
Temp high (°C)                  0
Temp avg (°C)                   0
Temp low (°C)                   0
Dew Point high (°C)             0
Dew Point avg (°C)              0
Dew Point low (°C)              0
Humidity (%) high               0
Humidity (%) avg                0
Humidity (%) low                0
Sea Level Press. (hPa) high     2
Sea Level Press. (hPa) avg      2
Sea Level Press. (hPa) low      2
Visibility (km) high           13
Visibility (km) avg            13
Visibility (km) low            13
Wind (km/h) low                 2
Wind (km/h) avg                 2
Wind (km/h) high                2
Precip. (mm) sum               22
WeatherEvent                    0
dtype: int64

In [70]:
data7=data7.dropna()

In [71]:
#finding the median wrt month and category
month_median_test=data7.groupby(['Year','Month']).transform('mean')
month_median_test.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,1019.387097,1013.774194,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0
1,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,1019.387097,1013.774194,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0
2,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,1019.387097,1013.774194,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0
3,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,1019.387097,1013.774194,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0
4,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,1019.387097,1013.774194,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0

In [72]:
t_abc=data7.iloc[:,1]
t_cvf=data7.iloc[:,0]
month_median_test = month_median_test.assign(Month=t_abc.values)
month_median_test = month_median_test.assign(Year=t_cvf.values)
month_median_test.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent,Month,Year
0,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0,1,2015
1,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0,1,2015
2,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0,1,2015
3,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0,1,2015
4,16.0,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,16.0,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.0,1,2015

In [73]:
c2015=month_median_test.drop_duplicates(subset=None, keep='first', inplace=False)
c2015.shape

(12, 23)

In [74]:
t_df=c2015.append(c2015)
t_df1=t_df.append(c2015)
t_df1.shape

(36, 23)

In [75]:
t_final=t_df1.sort_values(['Year','Month'], ascending=True)
t_final.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent,Month,Year
0,16.00,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,16.00,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.00,1,2015
0,16.00,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,16.00,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.00,1,2015
0,16.00,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.83871,...,16.00,13.032258,9.354839,27.193548,11.677419,43.516129,4.284839,2.00,1,2015
31,14.44,-0.040000,-4.200000,-8.880000,-8.640000,-12.520000,-17.320000,67.880000,53.640000,39.08000,...,15.84,13.480000,9.640000,26.280000,11.440000,40.600000,2.072800,1.64,2,2015
31,14.44,-0.040000,-4.200000,-8.880000,-8.640000,-12.520000,-17.320000,67.880000,53.640000,39.08000,...,15.84,13.480000,9.640000,26.280000,11.440000,40.600000,2.072800,1.64,2,2015

In [76]:
catog=test.iloc[:,2]
t_final = t_final.assign(ProductCategory=catog.values)

In [77]:
T_final_z= t_final.apply(zscore)
T_final_z.isnull().sum()

C:\Users\Krishna Murthy\Anaconda3\lib\site-packages\scipy\stats\stats.py:2253: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd

Day                             0
Temp high (°C)                  0
Temp avg (°C)                   0
Temp low (°C)                   0
Dew Point high (°C)             0
Dew Point avg (°C)              0
Dew Point low (°C)              0
Humidity (%) high               0
Humidity (%) avg                0
Humidity (%) low                0
Sea Level Press. (hPa) high     0
Sea Level Press. (hPa) avg      0
Sea Level Press. (hPa) low      0
Visibility (km) high            0
Visibility (km) avg             0
Visibility (km) low             0
Wind (km/h) low                 0
Wind (km/h) avg                 0
Wind (km/h) high                0
Precip. (mm) sum                0
WeatherEvent                    0
Month                           0
Year                           36
ProductCategory                 0
dtype: int64

In [78]:
T_final_z.shape

(36, 24)

In [79]:
T_final_z=T_final_z.drop(T_final_z.columns[22],axis=1)
T_final_z.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent,Month,ProductCategory
0,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,0.694414,-0.943247,-0.539353,1.528167,1.652929,1.709881,0.848330,0.350682,-1.593255,-1.224745
0,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,0.694414,-0.943247,-0.539353,1.528167,1.652929,1.709881,0.848330,0.350682,-1.593255,0.000000
0,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,0.694414,-0.943247,-0.539353,1.528167,1.652929,1.709881,0.848330,0.350682,-1.593255,1.224745
31,-0.872256,-1.766387,-1.828483,-1.905394,-1.885118,-1.807225,-1.758875,-1.360090,-0.798481,-0.333851,...,-0.447819,-0.493789,-0.398384,1.232430,1.531404,1.072441,-0.831362,-0.548418,-1.303572,-1.224745
31,-0.872256,-1.766387,-1.828483,-1.905394,-1.885118,-1.807225,-1.758875,-1.360090,-0.798481,-0.333851,...,-0.447819,-0.493789,-0.398384,1.232430,1.531404,1.072441,-0.831362,-0.548418,-1.303572,0.000000

In [80]:
T_final_z=T_final_z.drop(T_final_z.columns[13],axis=1)
T_final_z.shape

(36, 22)

In [81]:
#T_final_z=T_final_z.drop(T_final_z.columns[0],axis=1)
T_final_z.shape

(36, 22)

In [82]:
T_final_z.isnull().sum()

Day                            0
Temp high (°C)                 0
Temp avg (°C)                  0
Temp low (°C)                  0
Dew Point high (°C)            0
Dew Point avg (°C)             0
Dew Point low (°C)             0
Humidity (%) high              0
Humidity (%) avg               0
Humidity (%) low               0
Sea Level Press. (hPa) high    0
Sea Level Press. (hPa) avg     0
Sea Level Press. (hPa) low     0
Visibility (km) avg            0
Visibility (km) low            0
Wind (km/h) low                0
Wind (km/h) avg                0
Wind (km/h) high               0
Precip. (mm) sum               0
WeatherEvent                   0
Month                          0
ProductCategory                0
dtype: int64

In [83]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(final_z, data_l, test_size=0.25, random_state=42)

In [84]:
X_train.shape,y_train.shape,

((162, 22), (162,))

In [85]:
DTR= DecisionTreeRegressor (max_depth=3, min_samples_split =2,min_samples_leaf=1)
DTR.fit(X_train,y_train)
predicted_labels = DTR.predict(X_test)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,predicted_labels)

273422.74607405637

In [86]:
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.tree import DecisionTreeRegressor

DTR= DecisionTreeRegressor ()

In [87]:
# define the parameter values that should be searched
from sklearn.model_selection import GridSearchCV
k_range = list(range(1, 40))
print(k_range)
# create a parameter grid: map the parameter names to the values that should be searched
param_grid = dict(max_depth=k_range)
print(param_grid)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
{'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]}

In [88]:
# instantiate the grid
grid = GridSearchCV(DTR, param_grid, cv=10, scoring='accuracy', return_train_score=False)

In [89]:
T_final_z.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Sea Level Press. (hPa) low,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent,Month,ProductCategory
0,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,-0.173174,-0.943247,-0.539353,1.528167,1.652929,1.709881,0.848330,0.350682,-1.593255,-1.224745
0,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,-0.173174,-0.943247,-0.539353,1.528167,1.652929,1.709881,0.848330,0.350682,-1.593255,0.000000
0,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,-0.173174,-0.943247,-0.539353,1.528167,1.652929,1.709881,0.848330,0.350682,-1.593255,1.224745
31,-0.872256,-1.766387,-1.828483,-1.905394,-1.885118,-1.807225,-1.758875,-1.360090,-0.798481,-0.333851,...,-0.053713,-0.493789,-0.398384,1.232430,1.531404,1.072441,-0.831362,-0.548418,-1.303572,-1.224745
31,-0.872256,-1.766387,-1.828483,-1.905394,-1.885118,-1.807225,-1.758875,-1.360090,-0.798481,-0.333851,...,-0.053713,-0.493789,-0.398384,1.232430,1.531404,1.072441,-0.831362,-0.548418,-1.303572,0.000000

In [90]:
from sklearn.tree import DecisionTreeRegressor

DTClassifier= DecisionTreeRegressor (max_depth=4, min_samples_split =2)
DTClassifier.fit(final_z,data_l)
predicted_labels = DTClassifier.predict(T_final_z)
predicted_labels

array([2071.        ,  532.41666667, 1087.30943396, 2071.        ,
        532.41666667, 1087.30943396, 3653.928     ,  661.55      ,
       1087.30943396, 3653.928     ,  661.55      , 1087.30943396,
       3063.62068966,  661.55      , 1087.30943396, 3063.62068966,
        661.55      ,  962.69230769, 3063.62068966,  661.55      ,
       1087.30943396, 3653.928     ,  661.55      , 1087.30943396,
       3063.62068966,  661.55      , 1087.30943396, 3653.928     ,
        661.55      , 1087.30943396, 3063.62068966,  661.55      ,
       1087.30943396, 3390.        , 1079.        , 1447.5       ])

In [91]:
sub1 = pd.DataFrame(pd.read_csv("sample_submission.csv")['S.No.'])
sub1['Sales'] = predicted_labels
sub1.to_csv("weather_submission1.csv", index = False)
sub1.head()

   S.No.        Sales
0      1  2071.000000
1      2   532.416667
2      3  1087.309434
3      4  2071.000000
4      5   532.416667

# Micro

In [92]:
micro=pd.read_excel("macro_economic.xlsx")
micro.isnull().sum()

Year-Month                                                           0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
PartyInPower                                                         0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
dtype: int64

In [93]:
micro.dtypes

Year-Month                                                            object
Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
PartyInPower                                                          object
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
AdvertisingExpenses (in Thousand Dollars)                             object
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                                 int64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
dtype: object

In [94]:
microsp= micro.apply(lambda x: x["Year-Month"].split("-"), axis=1)
microsp

0     [2009 ,  Jan]
1     [2009 ,  Feb]
2     [2009 ,  Mar]
3     [2009 ,  Apr]
4     [2009 ,  May]
5     [2009 ,  Jun]
6     [2009 ,  Jul]
7     [2009 ,  Aug]
8     [2009 ,  Sep]
9     [2009 ,  Oct]
10    [2009 ,  Nov]
11    [2009 ,  Dec]
12    [2010 ,  Jan]
13    [2010 ,  Feb]
14    [2010 ,  Mar]
15    [2010 ,  Apr]
16    [2010 ,  May]
17    [2010 ,  Jun]
18    [2010 ,  Jul]
19    [2010 ,  Aug]
20    [2010 ,  Sep]
21    [2010 ,  Oct]
22    [2010 ,  Nov]
23    [2010 ,  Dec]
24    [2011 ,  Jan]
25    [2011 ,  Feb]
26    [2011 ,  Mar]
27    [2011 ,  Apr]
28    [2011 ,  May]
29    [2011 ,  Jun]
          ...
66    [2014 ,  Jul]
67    [2014 ,  Aug]
68    [2014 ,  Sep]
69    [2014 ,  Oct]
70    [2014 ,  Nov]
71    [2014 ,  Dec]
72    [2015 ,  Jan]
73    [2015 ,  Feb]
74    [2015 ,  Mar]
75    [2015 ,  Apr]
76    [2015 ,  May]
77    [2015 ,  Jun]
78    [2015 ,  Jul]
79    [2015 ,  Aug]
80    [2015 ,  Sep]
81    [2015 ,  Oct]
82    [2015 ,  Nov]
83    [2015 ,  Dec]
84    [2016 ,  Jan]
85    [2016 ,  Feb]
86    [2016 ,  Mar]
87    [2016 ,  Apr]
88    [2016 ,  May]
89    [2016 ,  Jun]
90    [2016 ,  Jul]
91    [2016 ,  Aug]
92    [2016 ,  Sep]
93    [2016 ,  Oct]
94    [2016 ,  Nov]
95    [2016 ,  Dec]
Length: 96, dtype: object

In [95]:
len(microsp)

96

In [96]:
a=[]
for i in range(96):    
    a.append(microsp[i][0])

In [97]:
b=[]
for i in range(96):    
    b.append(microsp[i][1])

In [98]:
len(a)

96

In [99]:
micro["Year"]=a

In [100]:
micro["Month"]=b

In [101]:
micro.head()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550,2009,Jan
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100,2009,Feb
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650,2009,Mar
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225,2009,Apr
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300,2009,May

In [102]:
micro.shape

(96, 20)

In [103]:
micro['Month'].shape

(96,)

In [104]:
def getname(name):
    title_group = {' Jan':1,' Feb':2,' Mar':3,' Apr':4,' May':5,' Jun':6,' Jul':7,' Aug':8,' Sep':9,' Oct':10,' Nov':11,' Dec':12}  
    return title_group[name]
micro['Month']=micro.Month.map(lambda x : getname(x))

In [105]:
micro1=micro.drop(micro.columns[0],axis=1)
micro1.shape

(96, 19)

In [106]:
micro2=micro1.drop(micro1.columns[3],axis=1)

In [107]:
micro3=micro2.drop(micro2.columns[7],axis=1)
micro3.dtypes

Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                                 int64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
Year                                                                  object
Month                                                                  int64
dtype: object

In [108]:
micro_train=micro3[:72]
micro_train.shape

(72, 17)

In [109]:
micro_test=micro3[72:84]

In [110]:
t_micro_train=micro_train.append(micro_train)
t_micro_train1=micro_train.append(t_micro_train)
t_micro_train1.shape

(216, 17)

In [111]:
t_micro_train1

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.170,11.550,2009,1
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.870,11.100,2009,2
2,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,51.50,-6.72,9.296,7.559,799,12.589,3.720,11.650,2009,3
3,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,56.78,10.25,9.296,7.559,787,12.400,3.620,12.225,2009,4
4,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,61.95,9.11,9.297,7.400,803,12.384,3.520,12.300,2009,5
5,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,61.39,-0.90,8.668,7.760,796,12.876,3.470,10.300,2009,6
6,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,64.80,5.55,8.905,7.753,796,12.863,3.470,9.700,2009,7
7,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,64.26,-0.83,8.905,7.619,809,12.840,3.470,9.700,2009,8
8,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,64.07,-0.30,8.989,7.582,827,13.071,3.470,10.000,2009,9
9,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,66.82,4.29,8.989,7.586,799,12.631,3.370,10.000,2009,10
10,14590.432252,14559.410173,238.777,9.9,13.60,11.20,22.44,71.78,7.42,8.989,7.586,767,12.129,3.370,9.950,2009,11
11,14512.495301,14471.040844,238.427,9.9,13.60,11.20,22.38,76.78,6.97,8.989,7.586,774,12.225,3.370,10.425,2009,12
12,14613.991481,14551.024838,238.970,9.8,13.60,11.20,22.51,77.40,0.81,9.008,7.552,763,12.011,3.370,10.400,2010,1
13,14652.880272,14581.375694,238.862,9.8,14.26,10.83,22.57,80.04,3.41,9.008,7.552,763,12.011,3.370,11.400,2010,2
14,14776.317248,14682.010743,240.101,9.9,14.26,10.83,22.48,85.79,7.18,9.008,7.552,763,12.011,3.470,11.375,2010,3
15,14844.531193,14724.200153,240.529,9.9,14.26,10.83,22.53,88.09,2.68,9.008,7.552,747,11.751,3.470,11.365,2010,4
16,14875.698436,14741.367347,241.075,9.6,13.84,11.00,22.60,90.07,2.25,9.008,7.391,766,11.788,3.375,11.340,2010,5
17,14945.570371,14772.318051,240.817,9.4,13.84,11.00,22.34,91.68,1.79,10.315,9.642,806,16.200,3.275,13.050,2010,6
18,15019.235263,14833.749277,241.147,9.4,13.84,11.00,22.41,84.15,-8.21,10.700,10.193,836,17.750,3.370,13.800,2010,7
19,15036.277627,14824.165770,241.569,9.5,13.59,10.71,22.55,90.35,7.37,10.700,10.424,831,18.036,3.370,14.525,2010,8
20,15117.467110,14878.546983,241.485,9.5,13.59,10.71,22.60,104.73,15.92,10.829,10.566,833,18.343,3.570,15.025,2010,9
21,15219.059036,14945.427088,241.981,9.4,13.59,10.71,22.70,126.55,20.83,10.829,10.566,835,18.375,3.570,15.025,2010,10
22,15185.628947,14896.674813,241.960,9.8,13.44,10.94,22.69,155.47,22.85,10.829,10.566,814,17.920,3.420,15.275,2010,11
23,15285.936017,14975.040207,241.874,9.3,13.44,10.94,22.76,168.22,8.20,10.829,10.566,807,17.770,3.520,15.275,2010,12
24,15149.136163,14838.155580,242.639,9.1,13.44,10.94,23.16,178.93,6.37,10.769,10.505,814,17.817,3.565,15.280,2011,1
25,15161.578331,14801.734181,243.832,9.0,13.44,10.98,22.99,213.18,19.14,10.769,10.505,814,17.817,3.565,15.280,2011,2
26,15404.398506,15004.115470,245.617,9.0,13.44,10.98,22.90,229.67,7.74,10.769,10.505,814,17.817,3.565,15.280,2011,3
27,15488.004864,15050.661172,246.489,9.1,13.44,10.98,22.96,216.62,-5.68,10.769,10.505,804,17.597,3.665,15.280,2011,4
28,15472.391289,14990.963816,248.073,9.0,12.89,11.37,23.06,165.52,-23.59,10.769,10.497,805,17.600,3.760,15.020,2011,5
29,15422.381847,14927.332731,248.505,9.1,12.89,11.37,22.81,160.65,-2.94,12.313,9.950,787,16.323,3.770,12.400,2011,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,16239.420103,15433.369867,252.016,8.2,12.06,10.94,23.48,83.97,2.18,12.400,10.167,773,16.365,3.375,11.400,2012,7
43,16161.118172,15317.424193,253.472,8.1,11.95,10.37,23.26,84.40,0.51,12.400,10.577,771,16.988,3.375,11.375,2012,8
44,16283.278725,15391.877310,254.554,7.8,11.95,10.37,23.67,84.15,-0.30,12.121,10.206,774,16.452,3.375,11.075,2012,9
45,16208.314757,15292.349860,254.277,7.8,11.95,10.37,23.52,81.95,-2.61,12.121,10.206,782,16.630,3.375,10.875,2012,10
46,16272.706227,15362.097855,254.285,7.7,11.88,10.64,23.58,80.87,-1.32,12.121,10.206,790,16.790,3.375,10.875,2012,11
47,16411.026016,15498.652067,253.555,7.9,11.88,10.64,23.85,83.37,3.09,12.121,10.206,781,16.600,3.375,11.075,2012,12
48,16503.915684,15554.426878,254.807,8.0,11.88,10.64,23.88,85.51,2.57,12.077,9.190,849,16.250,3.380,11.475,2013,1
49,16433.882719,15435.675103,256.234,7.7,11.94,10.12,23.90,89.71,4.91,12.077,9.190,849,16.250,3.380,11.750,2013,2
50,16488.521596,15485.738262,256.589,7.5,11.94,10.12,23.84,94.45,5.28,12.077,9.190,849,16.250,3.380,12.000,2013,3
51,16521.133927,15529.835696,255.967,7.6,11.94,10.12,23.92,92.54,-2.02,12.077,9.190,862,16.510,3.380,12.225,2013,4
52,16461.873233,15450.318635,256.270,7.5,11.95,10.34,23.80,92.62,0.09,12.076,9.135,869,16.535,3.380,12.450,2013,5
53,16641.162840,15584.747528,256.911,7.5,11.95,10.34,23.92,93.08,0.50,9.820,7.896,785,12.920,3.475,10.350,2013,6
54,16685.742246,15606.008068,257.326,7.3,11.95,10.34,23.81,92.62,-0.49,10.025,7.579,815,12.872,3.475,10.350,2013,7
55,16776.992565,15673.439971,257.659,7.3,11.88,10.13,23.80,92.71,0.10,10.015,7.519,796,12.473,3.480,13.380,2013,8
56,16785.312189,15644.832268,258.504,7.2,11.88,10.13,24.16,90.09,-2.83,10.136,7.582,777,12.273,3.480,9.650,2013,9
57,16884.854816,15729.959366,257.069,7.2,11.88,10.13,24.04,89.35,-0.82,10.136,7.582,777,12.273,3.480,9.650,2013,10
58,17053.738107,15841.758762,257.377,6.9,11.85,10.22,24.11,84.65,-5.26,10.136,7.582,790,12.479,3.580,9.650,2013,11
59,17061.071077,15810.410182,257.284,6.7,11.85,10.22,24.30,87.49,3.35,10.136,7.582,788,12.443,3.580,9.650,2013,12
60,16955.608626,15705.972667,259.596,6.6,11.85,10.22,24.35,90.96,3.97,10.206,7.465,807,12.551,3.580,9.750,2014,1
61,17028.586348,15762.598920,259.019,6.7,11.83,10.09,24.58,94.05,3.40,10.206,7.465,807,12.551,3.580,9.750,2014,2
62,17109.777026,15804.519068,259.971,6.7,11.83,10.09,24.50,96.95,3.08,10.206,7.465,807,12.551,3.580,9.950,2014,3
63,17208.864684,15870.178053,259.985,6.2,11.83,10.09,24.40,94.20,-2.84,10.206,7.465,787,12.234,3.580,9.975,2014,4
64,17345.334028,15946.741336,261.225,6.3,11.83,9.57,24.30,92.71,-1.58,10.206,7.345,802,12.275,3.580,9.675,2014,5
65,17408.564289,15990.977418,261.350,6.1,11.83,9.57,24.42,90.90,-1.95,10.943,8.594,811,14.512,3.675,9.220,2014,6
66,17551.781065,16089.499187,261.498,6.2,11.83,9.57,24.31,83.84,-7.77,11.191,8.594,804,15.955,3.775,9.720,2014,7
67,17684.635349,16196.420132,261.075,6.2,11.82,10.73,24.32,74.00,-11.74,11.191,10.065,808,16.946,3.775,10.150,2014,8
68,17630.354586,16133.049427,261.074,5.9,11.82,10.73,24.50,73.38,-0.84,10.818,9.692,790,15.960,3.775,9.450,2014,9
69,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,70.34,-4.14,10.818,9.692,776,15.677,3.775,9.450,2014,10
70,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,67.53,-3.99,10.818,9.692,783,15.819,3.775,9.450,2014,11
71,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,68.30,1.14,10.818,9.692,760,15.345,3.775,9.450,2014,12

In [112]:
t_micro_train1=t_micro_train1.sort_values(['Year','Month'], ascending=True)
t_micro_train1

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.170,11.550,2009,1
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.170,11.550,2009,1
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.170,11.550,2009,1
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.870,11.100,2009,2
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.870,11.100,2009,2
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.870,11.100,2009,2
2,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,51.50,-6.72,9.296,7.559,799,12.589,3.720,11.650,2009,3
2,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,51.50,-6.72,9.296,7.559,799,12.589,3.720,11.650,2009,3
2,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,51.50,-6.72,9.296,7.559,799,12.589,3.720,11.650,2009,3
3,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,56.78,10.25,9.296,7.559,787,12.400,3.620,12.225,2009,4
3,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,56.78,10.25,9.296,7.559,787,12.400,3.620,12.225,2009,4
3,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,56.78,10.25,9.296,7.559,787,12.400,3.620,12.225,2009,4
4,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,61.95,9.11,9.297,7.400,803,12.384,3.520,12.300,2009,5
4,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,61.95,9.11,9.297,7.400,803,12.384,3.520,12.300,2009,5
4,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,61.95,9.11,9.297,7.400,803,12.384,3.520,12.300,2009,5
5,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,61.39,-0.90,8.668,7.760,796,12.876,3.470,10.300,2009,6
5,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,61.39,-0.90,8.668,7.760,796,12.876,3.470,10.300,2009,6
5,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,61.39,-0.90,8.668,7.760,796,12.876,3.470,10.300,2009,6
6,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,64.80,5.55,8.905,7.753,796,12.863,3.470,9.700,2009,7
6,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,64.80,5.55,8.905,7.753,796,12.863,3.470,9.700,2009,7
6,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,64.80,5.55,8.905,7.753,796,12.863,3.470,9.700,2009,7
7,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,64.26,-0.83,8.905,7.619,809,12.840,3.470,9.700,2009,8
7,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,64.26,-0.83,8.905,7.619,809,12.840,3.470,9.700,2009,8
7,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,64.26,-0.83,8.905,7.619,809,12.840,3.470,9.700,2009,8
8,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,64.07,-0.30,8.989,7.582,827,13.071,3.470,10.000,2009,9
8,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,64.07,-0.30,8.989,7.582,827,13.071,3.470,10.000,2009,9
8,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,64.07,-0.30,8.989,7.582,827,13.071,3.470,10.000,2009,9
9,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,66.82,4.29,8.989,7.586,799,12.631,3.370,10.000,2009,10
9,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,66.82,4.29,8.989,7.586,799,12.631,3.370,10.000,2009,10
9,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,66.82,4.29,8.989,7.586,799,12.631,3.370,10.000,2009,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,17109.777026,15804.519068,259.971,6.7,11.83,10.09,24.50,96.95,3.08,10.206,7.465,807,12.551,3.580,9.950,2014,3
62,17109.777026,15804.519068,259.971,6.7,11.83,10.09,24.50,96.95,3.08,10.206,7.465,807,12.551,3.580,9.950,2014,3
62,17109.777026,15804.519068,259.971,6.7,11.83,10.09,24.50,96.95,3.08,10.206,7.465,807,12.551,3.580,9.950,2014,3
63,17208.864684,15870.178053,259.985,6.2,11.83,10.09,24.40,94.20,-2.84,10.206,7.465,787,12.234,3.580,9.975,2014,4
63,17208.864684,15870.178053,259.985,6.2,11.83,10.09,24.40,94.20,-2.84,10.206,7.465,787,12.234,3.580,9.975,2014,4
63,17208.864684,15870.178053,259.985,6.2,11.83,10.09,24.40,94.20,-2.84,10.206,7.465,787,12.234,3.580,9.975,2014,4
64,17345.334028,15946.741336,261.225,6.3,11.83,9.57,24.30,92.71,-1.58,10.206,7.345,802,12.275,3.580,9.675,2014,5
64,17345.334028,15946.741336,261.225,6.3,11.83,9.57,24.30,92.71,-1.58,10.206,7.345,802,12.275,3.580,9.675,2014,5
64,17345.334028,15946.741336,261.225,6.3,11.83,9.57,24.30,92.71,-1.58,10.206,7.345,802,12.275,3.580,9.675,2014,5
65,17408.564289,15990.977418,261.350,6.1,11.83,9.57,24.42,90.90,-1.95,10.943,8.594,811,14.512,3.675,9.220,2014,6
65,17408.564289,15990.977418,261.350,6.1,11.83,9.57,24.42,90.90,-1.95,10.943,8.594,811,14.512,3.675,9.220,2014,6
65,17408.564289,15990.977418,261.350,6.1,11.83,9.57,24.42,90.90,-1.95,10.943,8.594,811,14.512,3.675,9.220,2014,6
66,17551.781065,16089.499187,261.498,6.2,11.83,9.57,24.31,83.84,-7.77,11.191,8.594,804,15.955,3.775,9.720,2014,7
66,17551.781065,16089.499187,261.498,6.2,11.83,9.57,24.31,83.84,-7.77,11.191,8.594,804,15.955,3.775,9.720,2014,7
66,17551.781065,16089.499187,261.498,6.2,11.83,9.57,24.31,83.84,-7.77,11.191,8.594,804,15.955,3.775,9.720,2014,7
67,17684.635349,16196.420132,261.075,6.2,11.82,10.73,24.32,74.00,-11.74,11.191,10.065,808,16.946,3.775,10.150,2014,8
67,17684.635349,16196.420132,261.075,6.2,11.82,10.73,24.32,74.00,-11.74,11.191,10.065,808,16.946,3.775,10.150,2014,8
67,17684.635349,16196.420132,261.075,6.2,11.82,10.73,24.32,74.00,-11.74,11.191,10.065,808,16.946,3.775,10.150,2014,8
68,17630.354586,16133.049427,261.074,5.9,11.82,10.73,24.50,73.38,-0.84,10.818,9.692,790,15.960,3.775,9.450,2014,9
68,17630.354586,16133.049427,261.074,5.9,11.82,10.73,24.50,73.38,-0.84,10.818,9.692,790,15.960,3.775,9.450,2014,9
68,17630.354586,16133.049427,261.074,5.9,11.82,10.73,24.50,73.38,-0.84,10.818,9.692,790,15.960,3.775,9.450,2014,9
69,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,70.34,-4.14,10.818,9.692,776,15.677,3.775,9.450,2014,10
69,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,70.34,-4.14,10.818,9.692,776,15.677,3.775,9.450,2014,10
69,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,70.34,-4.14,10.818,9.692,776,15.677,3.775,9.450,2014,10
70,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,67.53,-3.99,10.818,9.692,783,15.819,3.775,9.450,2014,11
70,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,67.53,-3.99,10.818,9.692,783,15.819,3.775,9.450,2014,11
70,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,67.53,-3.99,10.818,9.692,783,15.819,3.775,9.450,2014,11
71,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,68.30,1.14,10.818,9.692,760,15.345,3.775,9.450,2014,12
71,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,68.30,1.14,10.818,9.692,760,15.345,3.775,9.450,2014,12
71,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,68.30,1.14,10.818,9.692,760,15.345,3.775,9.450,2014,12

In [113]:
t_micro_train1=t_micro_train1.drop(t_micro_train1.columns[15],axis=1)
t_micro_train1.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2

In [114]:
catog=data.iloc[:,2]
t_micro_train1 = t_micro_train1.assign(ProductCategory=catog.values)
t_micro_train1.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month,ProductCategory
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1,0
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1,1
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1,2
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2,0
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2,1

In [115]:
t_micro_train1.dtypes

Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                                 int64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
Month                                                                  int64
ProductCategory                                                        int64
dtype: object

In [116]:
t_micro_train1.iloc[:,15]=pd.to_numeric(t_micro_train1.iloc[:,15], errors='coerce')

In [117]:
t_micro_train1_Z=t_micro_train1.apply(zscore)

In [118]:
from sklearn.tree import DecisionTreeRegressor

DTClassifier= DecisionTreeRegressor (max_depth=4, min_samples_split =2)
DTClassifier.fit(t_micro_train1_Z,data_l)

DecisionTreeRegressor(criterion='mse', max_depth=4, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

# Micro Test

In [119]:
micro_test=micro3[72:84]
micro_test.shape

(12, 17)

In [120]:
t_micro_test=micro_test.append(micro_test)
t_micro_test1=micro_test.append(t_micro_test)
t_micro_test1.shape

(36, 17)

In [121]:
t_micro_test1=t_micro_test1.sort_values(['Year','Month'], ascending=True)
t_micro_test1.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,2015,1
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,2015,1
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,2015,1
73,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20,2015,2
73,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20,2015,2

In [122]:
t_micro_test1=t_micro_test1.drop(t_micro_test1.columns[15],axis=1)
t_micro_test1.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,1
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,1
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,1
73,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20,2
73,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20,2

In [123]:
catog=test.iloc[:,2]
t_micro_test1 = t_micro_test1.assign(ProductCategory=catog.values)
t_micro_test1.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month,ProductCategory
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,1,0
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,1,1
72,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45,1,2
73,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20,2,0
73,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20,2,1

In [124]:
t_micro_test1.dtypes

Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                                 int64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
Month                                                                  int64
ProductCategory                                                        int64
dtype: object

In [125]:
t_micro_test1_Z=t_micro_test1.apply(zscore)

In [126]:
from sklearn.tree import DecisionTreeRegressor

DTClassifier= DecisionTreeRegressor (max_depth=28, min_samples_split =2)
DTClassifier.fit(t_micro_train1_Z,data_l)
predicted_labels = DTClassifier.predict(t_micro_test1_Z)
predicted_labels

array([1729. ,  525. ,  937. , 2413. ,  545. ,  897. , 2164. ,  690. ,
        869. , 3245. ,  657.6,  930. , 3071. ,  682. , 1346. , 4170. ,
        648. , 1311. , 3539. ,  648. , 1311. , 3539. ,  678. , 1229. ,
       3834. ,  687. , 1337. , 3539. ,  785. , 1049. , 3539. ,  798. ,
       1252. , 4824. , 1070. , 1475. ])

In [127]:
sub1 = pd.DataFrame(pd.read_csv("sample_submission.csv")['S.No.'])
sub1['Sales'] = predicted_labels
sub1.to_csv("micro_submission1.csv", index = False)
sub1.head()

   S.No.   Sales
0      1  1729.0
1      2   525.0
2      3   937.0
3      4  2413.0
4      5   545.0

In [128]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(t_micro_train1_Z, data_l, test_size=0.25, random_state=42)

In [129]:
DTR= DecisionTreeRegressor (max_depth=28, min_samples_split =17,min_samples_leaf=4)
DTR.fit(X_train,y_train)
predicted_labels = DTR.predict(X_test)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,predicted_labels)

199315.02857490105

In [130]:
#################################################          KNN           ##############################
from sklearn.neighbors import KNeighborsRegressor
NNH = KNeighborsRegressor(n_neighbors= 21 , weights = 'uniform', metric='euclidean')
NNH.fit(t_micro_train1_Z,data_l)
predicted_labels = NNH.predict(t_micro_test1_Z)
sub = pd.DataFrame(pd.read_csv("sample_submission.csv")['S.No.'])
sub['Sales'] = predicted_labels 
sub.to_csv("micro_submission2.csv", index = False)
sub.head()

   S.No.        Sales
0      1  1639.028571
1      2  1196.052381
2      3   918.842857
3      4  2069.290476
4      5  1494.928571

In [131]:
from sklearn.model_selection import GridSearchCV
# define the parameter values that should be searched
k_range = list(range(1, 40))
print(k_range)
# create a parameter grid: map the parameter names to the values that should be searched
param_grid = dict(n_neighbors=k_range)
print(param_grid)

from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
%matplotlib inline
knn = KNeighborsRegressor()
scores = cross_val_score(knn, t_micro_train1_Z, data_l, cv=10, scoring='accuracy')
print(scores)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]}

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

# Merging weather n macro

In [132]:
final_z.shape,t_micro_train1_Z.shape,data_l.shape

((216, 22), (216, 17), (216,))

In [133]:
T_final_z.shape,t_micro_test1_Z.shape

((36, 22), (36, 17))

In [134]:
aaa=final_z.reset_index()

final_c=t_micro_train1_Z.reset_index()

final_a=aaa.drop(labels="index",axis=1)

final_c=final_c.drop(labels="index",axis=1)

total_train= pd.concat((final_a,final_c),axis=1)
total_train.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month,ProductCategory
0,1.815768,-1.816590,-1.802139,-1.789563,-1.764728,-1.746154,-1.683152,-1.097120,-0.783182,-0.419380,...,-1.085846,0.442175,-1.027054,-1.131495,0.135888,-1.041183,3.731800,0.085625,-1.593255,-1.224745
1,1.815768,-1.816590,-1.802139,-1.789563,-1.764728,-1.746154,-1.683152,-1.097120,-0.783182,-0.419380,...,-1.085846,0.442175,-1.027054,-1.131495,0.135888,-1.041183,3.731800,0.085625,-1.593255,0.000000
2,1.815768,-1.816590,-1.802139,-1.789563,-1.764728,-1.746154,-1.683152,-1.097120,-0.783182,-0.419380,...,-1.085846,0.442175,-1.027054,-1.131495,0.135888,-1.041183,3.731800,0.085625,-1.593255,1.224745
3,-0.573499,-1.150292,-1.240641,-1.321080,-1.330334,-1.344701,-1.356867,-1.490634,-1.372517,-1.102122,...,-1.154167,-0.634144,-1.027054,-1.131495,0.135888,-1.041183,1.952556,-0.166350,-1.303572,-1.224745
4,-0.573499,-1.150292,-1.240641,-1.321080,-1.330334,-1.344701,-1.356867,-1.490634,-1.372517,-1.102122,...,-1.154167,-0.634144,-1.027054,-1.131495,0.135888,-1.041183,1.952556,-0.166350,-1.303572,0.000000

In [135]:
aa=T_final_z.reset_index()

bb=t_micro_test1_Z.reset_index()

aa=aa.drop(labels="index",axis=1)

bb=bb.drop(labels="index",axis=1)

total_test= pd.concat((aa,bb),axis=1)
total_test.head()

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month,ProductCategory
0,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,-1.819111,-0.800483,1.148229,1.240213,-1.238111,1.032712,1.847404,-1.376874,-1.593255,-1.224745
1,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,-1.819111,-0.800483,1.148229,1.240213,-1.238111,1.032712,1.847404,-1.376874,-1.593255,0.000000
2,0.007266,-1.536467,-1.508118,-1.472306,-1.537555,-1.502782,-1.509618,-1.089685,-0.797407,-0.541220,...,-1.819111,-0.800483,1.148229,1.240213,-1.238111,1.032712,1.847404,-1.376874,-1.593255,1.224745
3,-0.872256,-1.766387,-1.828483,-1.905394,-1.885118,-1.807225,-1.758875,-1.360090,-0.798481,-0.333851,...,-0.342072,1.647866,1.148229,1.240213,-0.139505,1.032712,-1.044185,0.865997,-1.303572,-1.224745
4,-0.872256,-1.766387,-1.828483,-1.905394,-1.885118,-1.807225,-1.758875,-1.360090,-0.798481,-0.333851,...,-0.342072,1.647866,1.148229,1.240213,-0.139505,1.032712,-1.044185,0.865997,-1.303572,0.000000

In [136]:
from sklearn.tree import DecisionTreeRegressor

DTClassifier= DecisionTreeRegressor (max_depth=4, min_samples_split =2)
DTClassifier.fit(total_train,data_l)
predicted_labels = DTClassifier.predict(total_test)
predicted_labels 
sub1 = pd.DataFrame(pd.read_csv("sample_submission.csv")['S.No.'])
sub1['Sales'] = predicted_labels
sub1.to_csv("total_submission1.csv", index = False)
sub1.head()

   S.No.        Sales
0      1  1742.000000
1      2   592.009459
2      3   959.168571
3      4  2167.500000
4      5   592.009459

In [156]:
# Create linear regression object
from sklearn import datasets, linear_model
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(total_train, data_l)

# Make predictions using the testing set
predicted_labels = regr.predict(total_test)
predicted_labels
sub1 = pd.DataFrame(pd.read_csv("sample_submission.csv")['S.No.'])
sub1['Sales'] = predicted_labels
sub1.to_csv("totalLL_submission1.csv", index = False)
sub1.head()

   S.No.        Sales
0      1  1141.817996
1      2    44.256885
2      3 -1053.304226
3      4  1962.754986
4      5   865.193875